@font-face {
    font-family: 'IRAN-sans';
    src: url('../fonts/IRAN-sans.eot');
    src: url('../fonts/IRAN-sans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRAN-sans.woff2') format('woff2'),
        url('../fonts/IRAN-sans.woff') format('woff'),
        url('../fonts/IRAN-sans.ttf') format('truetype'),
        url('../fonts/IRAN-sans.svg#IRAN-sans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    background-color: black;
    font-family: 'IRAN-sans' !important;
}

div.comment {
    background-color: azure;
    margin-top: 25px;
    padding: 25px;
    text-align: right;
}
.white{
    color: white !important;
  }
.color-nav{
    background-color: black;
  }
  
  .color-search{
    color:black !important;
  }
  .border-bottom{
    border-bottom : 2px solid #eee;
  }
  .border-top1{
    border-top : 2px solid #eee;
  }
  .border-top{
    border-top : 1px solid yellow !important;
    padding: 5px;
  }
  .sidebar-link{
    transition: all 0.4s;
    color: yellow !important;
  }
  
  .sidebar-link:hover{
    background: #444;
    border-radius : 5px;
    background-color: yellow;
    color: black !important;
    
  }
  a.current{
    background: yellow;
    color: black !important;
    border-radius: 5px;
    transition: all 0.4s;
  }
  
  a.current:hover{
    background: yellow;
    border-radius: 7px;
    transform: translateY(-3px);
  }
  
  .search-input{
    background: transparent;
    border : none;
    border-radius: 0;
    border-bottom: 2px solid #444;
    transition: all 0.5s;
    text-align: left !important;
    color: white !important;
  }
  
  .search-form{
    display: flex;
    justify-content: center !important;
  }
  
  .search-input:focus{
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid yellow;
  }
  
  .search-button{
    border-radius: 50%;
    transition: all 0.4s;
    background-color: yellow;
  }
  .search-button:hover{
    transform: translateY(-3px);
  }
  
  @media (max-width:765px){
    .sidebar{
      position: static;
      height: auto;
    }
    .top-navbar{
      position: static;
    }
  }
  
  
  
  
  .page-item:last-child .page-link{
    border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
  }
  
  .page-item:first-child .page-link{
    border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  
  .section{
    background-color: black;
  }
  
  .Music{
    background-color: black !important;
    color: white;
  }
  .Music:hover{
      color: white !important;
  }
  
  .background-black{
    background-color: black !important;
    color: yellow !important;
  }
  .black{
    color: black;
  }
  .black:hover{
    color: black;
  }
  
  .footer{
    background-color: black;
    border-top: 1px solid blanchedalmond;
  }
  
  .logo{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .bttn{
    width: 400px;
    background-color: yellow;
    color: black;
  }
  .feedback:hover{
    text-decoration: solid underline lightgoldenrodyellow;
  }